<div class="text-center">
  <h2>{{post.title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{post.body}}</p>
  <p>Created by {{post.user.username}} on {{format_date post.createdAt}}</p>
  {{#each post.comments}}
<div>{{comment}}</div>
<p>Created by {{user.username}} on {{format_date createdAt}}</p>
{{/each}}
  <p>
    <div class="form-group">
        <input id="post_id" type="hidden" name="post-id" value="{{post.id}}" />
        <label for="project-desc">Comment Text:</label>
        <textarea class="form-input" id="comment-input" name="project-desc"></textarea>
      </div>
    <button class="btn btn-primary" id="make-comment">Post Comment!</button>
  </p>
</div>
{{#if logged_in}}
  <script src="/js/comment.js"></script>
  {{/if}}
